body{
  /*background:rgba(39, 34, 34, 0.72);*/
  color:#888;
  font-family: 'Ubuntu Mono', sans-serif;
  text-align:center;

}


#text_presentation{

    color:black;
    font-size:16px;
    word-spacing:4px;
    line-height:22px;

}


#legend-text{

    color:black;
    font-size:22px;
    text-align:center;

}
